/*Le bas*/
footer
{
    display:flex;
    justify-content: space-around;
    background-color: rgb(242,242,242);
}

#assistance
{
    margin-right: 25%;
}

/*L'en tête*/
#principal
{
    display: flex;
    justify-content: space-between;
}

#logo
{
    flex: 3;
}

nav
{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/* Titre avec barre de recherche et filtres */
#conteneur_recherche
{
    display: flex;
    flex-direction: column;
}

#conteneur_filtres
{
    display: flex;
    flex-direction: row;
}

#conteneur_filtres div
{
    border: #F2F2F2 1px solid;
    margin: 0 1% 0 1%;
}

/* Hébergements */

#conteneur_hébergements
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* Les plus populaires */

.Carte.populaire
{
    display: flex;
    background-color: #FFFFFF;
    margin : 15% 5%;
    padding: 1%;
    flex: 1;
    border-radius: 0.3em;
    box-shadow: 0 0.5em 0.5em #cecdcd;
}

#populaires
{
    background: #F2F2F2;
    margin: 0 5% 0 5%;
    border-radius: 1em;
}

#populaires h2
{
    margin-left: 10%;
}

.Légende.populaire
{
    position: relative;
    flex: 2;
}

.Carte.populaire h3, .Carte.populaire p
{
    text-align: left;
    margin-left: 10%;
    margin-top: -0.5%;
    /*position: absolute;
    left: 0;*/
}

/* Images des cartes populaires */

.Photo.populaire
{
    border-radius: 0.3em 0 0 0.3em;
}


#photo_soleil_matin
{
    background: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg) center no-repeat;
    background-size: cover;
    width: 30%;
    height: 100px;
    margin: 0;
}

#coeur_eau
{
    background: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg) center no-repeat;
    background-size: cover;
    width: 30%;
    height: 100px;
    margin: 0;
}

#bleu_blanc
{
    background: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg) center no-repeat;
    background-size: cover;
    width: 30%;
    height: 100px;
    margin: 0;
}

/* Hébergements à Marseille */
#hébergements_Marseille
{
    background-color: #F2F2F2;
    border: 1px solid black;
    flex: 3;
}

#liste_hébergements_Marseille
{
    display: flex;
    flex-wrap: wrap;
}

.Carte.Marseille
{
    width: 30%;
    height: 30%;
    margin: auto;
}

.Carte.Marseille img
{
    width: 100%;
    height: 100%;
}

.Carte.Marseille p, .Carte.Marseille h3
{
    margin:auto;
    text-align: center;
}

/* Activités à Marseille */
#liste_activités
{
    display: flex;
    border: 1px solid black;
}

.Triplette
{
    display: flex;
}


.Carte.activité 
{
    width: 100%;
    height: 50%;
}

.Conteneur.deux.cartes
{
    display: flex;
    flex-direction: column;
}

.Carte.activité img
{
    width: 100%;
    height: 100%;
}

#liste_activités h3
{
    text-align: center;
}

/* Contournement pour corriger la photo qui dépasse */
#fort_pomègues
{
    /*overflow: hidden;*/
    width: 100%;
    height: 200px;
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-position: -70px;
    background-repeat: no-repeat;
}
